[Desktop Entry]
Name=JCrypTool
Comment=Tool for learning about cryptography
Icon=com.example.jcryptool
Exec=/app/jcryptool/JCrypTool
Categories=Desktop;
Type=Application
Terminal=false
StartupNotify=true

