[Desktop Entry]
Name=JCrypTool
Comment=Tool for learning about cryptography
Icon=com.example.jcryptool
Exec=jcryptool
Categories=Desktop;
Type=Application
Terminal=false
StartupNotify=true

